---
---
@import "{{ site.theme }}";

.highlighter-rouge pre.highlight {
    padding:1em 1em;
}

.code-header:has(+ .highlighter-rouge:hover) {
  display: block;
}

.code-header {
  --color-code-text: hsl(0deg 0% 83%);
  --color-code-surface: hsl(0deg 0% 23%);
  &:hover {
    display: block;
    .copy-code-button {
      background-color: var(--color-code-text);
      color: var(--color-code-surface);
    }
  }
  display: none;
  position: relative;
  .copy-code-button {
    position: absolute;
    cursor: pointer;
    width: 4.5em;
    right: 1.25em;
    top: 1em;
    border-radius: 4px;
    padding: 0.5rem 0.5rem;
    margin: auto auto;
    border: 0;
    background-color: var(--color-code-surface);
    color: var(--color-code-text);
  }
}
